div.answer
{
	width:475px;
    height:58px;
	background:rgb(236, 157, 194);
	transition:width 2s;
    -webkit-transition:width 2s; /* Safari */
    transition:height 3s;
    -webkit-transition:height 3s; /* Safari */
    overflow: hidden;
    font-family:'微軟正黑體';
    font-size: 12pt;
}
div.answer:hover
{
    width:500px;
    height:250px;
}
