body{
    background-image: url("picture/freshmanqa.jpg");
    font-family: fantasy 幻想體;
    margin-left: auto;
    margin-right: auto;
}
ol {
    background: rgba(101, 217, 238, 0.192);
    padding: 20px;
  }
  
  
  ol li {
    background: #ffe5e5;
    padding: 5px;
    margin-left: 25%;
    margin-right: 25%;
  }
  